@use "function" as *;
@use "variable" as *;

.header {
    display: flex;
    justify-content: space-between;
    padding-top: 12px;
    padding-bottom: 12px;
    a {
        padding: 6px 0;
        color: $colorTextDark;
    }
    &-logo {
        > img {
            height: 24px;
            width: auto;
        }
    }
    &-contacts {
        display: flex;
        gap: 40px;
    }
}