@use "function" as *;
@use "variable" as *;

.search {
    &-not-found {
        text-align: center;
        margin: 70px auto;
        font-weight: 400;
        font-size: 1.4rem;
    }
    &-catalogs {
        &-container {
            padding: 60px 0;
        }
        &-show {
            display: none;
            //text-align: center;
            width: 100%;
            cursor: pointer;
            padding: 0.5rem 24px;
            border-bottom: 1px solid black;
            &.active {
                display: inline;
            }
            &:hover {
                color: $colorTextAccent;
                border-color: $colorTextAccent;
            }
        }
    }
    &-input {
        &-container {

        }
        &-head {
            text-align: center;
            margin-bottom: 1rem;
            font-weight: 400;
            font-size: 1.4rem;
        }
        &-text {
            padding: 0.7rem 1.4rem;
            border-radius: 12px;
            background-color: white;
            box-shadow: 0 5px 10px rgba(0, 0, 0, 0.05);
            > input {
                width: 100%;
                height: 100%;
                border-radius: 12px;
                border: none;
                background-color: transparent;
                padding: 0.5rem;
            }
        }
    }
}

.search-field {
    margin-top: 60px;
    padding: 12px;
    width: 100%;
    border: 1px solid #24242430;
    &:focus-visible {
        border-color: $colorBackgroundAccent;
    }
}
.input-result-notfound {
    color: $colorTextAccent;
    margin-top: 24px;
}

.loader{
    display: block;
    position: relative;
    height: 32px;
    border: 2px solid $colorBackgroundLight;
    width: 120px;
    background: $colorBackgroundLight;
    box-sizing: border-box;
    &:before{
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        width: 28px;
        height: 28px;
        background: $colorBackgroundAccent;
        animation: ballbns 1s ease-in-out infinite alternate;
    }
}

@keyframes ballbns {
    0% {  left: 0; transform: translateX(0%); }
    100% {  left: 100%; transform: translateX(-100%); }
}